## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../World_Weather_Analysis/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Velventos,GR,40.2517,22.0631,51.80,43,87,2.30
1,1,Mahebourg,MU,-20.4081,57.7000,78.80,83,40,5.75
2,2,Carnarvon,AU,-24.8667,113.6333,77.00,100,7,8.05
3,3,Sibiti,CG,-3.6819,13.3499,70.25,100,100,2.98
4,4,Hermanus,ZA,-34.4187,19.2345,57.99,88,4,1.59

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minium temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minium temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mahebourg,MU,-20.4081,57.7000,78.80,83,40,5.75
2,2,Carnarvon,AU,-24.8667,113.6333,77.00,100,7,8.05
3,3,Sibiti,CG,-3.6819,13.3499,70.25,100,100,2.98
6,6,Cape Town,ZA,-33.9258,18.4232,66.20,68,0,14.97
7,7,Busselton,AU,-33.6500,115.3333,64.00,99,81,1.99
9,9,East London,ZA,-33.0153,27.9116,71.46,82,95,9.73
12,12,San Pedro,PH,14.3500,121.0167,81.00,83,40,13.65
13,13,Dapaong,TG,10.8639,0.2050,77.72,18,18,6.08
14,14,Samana,DO,19.2056,-69.3369,78.80,83,20,4.61
18,18,Harper,LR,4.3750,-7.7169,79.29,89,78,8.10

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       355
City          355
Country       348
Lat           355
Lng           355
Max Temp      355
Humidity      355
Cloudiness    355
Wind Speed    355
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
drop_preferred_cities_df = preferred_cities_df.dropna()
drop_preferred_cities_df.count()

City_ID       348
City          348
Country       348
Lat           348
Lng           348
Max Temp      348
Humidity      348
Cloudiness    348
Wind Speed    348
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = drop_preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1     Mahebourg      MU     78.80 -20.4081   57.7000
2     Carnarvon      AU     77.00 -24.8667  113.6333
3        Sibiti      CG     70.25  -3.6819   13.3499
6     Cape Town      ZA     66.20 -33.9258   18.4232
7     Busselton      AU     64.00 -33.6500  115.3333
9   East London      ZA     71.46 -33.0153   27.9116
12    San Pedro      PH     81.00  14.3500  121.0167
13      Dapaong      TG     77.72  10.8639    0.2050
14       Samana      DO     78.80  19.2056  -69.3369
18       Harper      LR     79.29   4.3750   -7.7169

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"] 

    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"     

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]   
    except(IndexError):
        print ("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df =hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,Carnarvon,AU,77.00,-24.8667,113.6333,Hospitality Carnarvon
3,Sibiti,CG,70.25,-3.6819,13.3499,"LE PAPYRUS (hôtel, bar et restaurant)"
6,Cape Town,ZA,66.20,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
7,Busselton,AU,64.00,-33.6500,115.3333,Observatory Guest House
...,...,...,...,...,...,...
678,Bushehr,IR,62.65,28.9684,50.8385,Yas Hotel
679,Sargur,IN,60.04,11.9833,76.4167,VMH STAFF QUARTERS
680,Mitsamiouli,KM,82.71,-11.3847,43.2844,Foyer ADM
682,San Rafael Del Sur,NI,89.60,11.8485,-86.4384,Hospedaje El Chino
686,Ihosy,MG,68.63,-22.4000,46.1167,Tamana Hôtel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../weather_data/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)                                                                                                   

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))